<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/css/searchMainPage.css">
</head>
<body>
	<%@ include file="common/menu.jsp" %>
        <div id="category-frame">
            <table id="category-frame-table">
                <tr>
                    <td><img src="../static/img/searchMainPage/Happy.png" alt=""></td>
                    <td><img src="../static/img/searchMainPage/Paint Palette.png" alt=""></td>
                    <td><img src="../static/img/searchMainPage/Geography.png" alt=""></td>
                    <td><img src="../static/img/searchMainPage/Colosseum.png" alt=""></td>
                    <td><img src="../static/img/searchMainPage/Language.png" alt=""></td>
                    <td><img src="../static/img/searchMainPage/Test Tube.png" alt=""></td>
                    <td><img src="../static/img/searchMainPage/Game Soccer.png" alt=""></td>
                    <td><img src="../static/img/searchMainPage/Question Mark.png" alt=""></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
</body>
</html>