button{
    border-style:none;
    outline:none;
}

.content > p{
    font-size:36px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.wrapper{
    margin-left: 10px;
    display:flex;
    justify-content: space-between;
}

/* 좌측(게시판) */
.board{
    width: 65%;
    min-width:500px;
    margin-right:5%;
}

/* 우측(인기글 및 광고) */
.board-side{
    width:30%;
    min-width:300px;
}

.hot-bulletin{
    border:1px solid #989898;
    border-radius: 5px;
    height:300px;
    margin-bottom: 25px;
}

.hot-bulletin > img{
    width:30px;
    height:30px;
}

.hot-bulletin-list{
    margin:10px;
    border:1px solid #989898;
    border-radius: 5px;
    height:240px;
}

.hot-bulletin-list table{
    width:100%;
    height:100%;
    table-layout: fixed; /* 테이블 밖으로 글자 삐져나옴 방지 */
}

.hot-bulletin-list img{
    width:20px;
    height:20px;
}

.cm-banner{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height:400px;
    background-color: #F3F3F3;
}

.cm-banner button{
    position:absolute;
    top:0px;
    right:0px;
    width:30px;
    height:30px;
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cm-banner img{
    width:50%;
    height:20%;
}

.cm-banner button img{
    width:25px;
    height:25px;
}