@charset "UTF-8";
/* 헤더와 사이드바 */
/* 주의!!!!!!!!!!!!!!! 절대로 건들지 말것! 수정사항 있을시, 파일 새로 생성 후 작성*/
*{
    margin: 0;
    padding: 0; 

    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}

body{
    height: 100vh;
}

div{
    box-sizing: border-box;
}

ul, li, ol {
    list-style: none;
}

#header{
    position: fixed;
    width: 100%;
    height: 100px;
    border: 1px solid #FFA72D;
    background: #FF9139;
    display: flex;
    justify-content: space-between;
}

#welcome-user{
    width: 185px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.custom-btn{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    width: 125px;
}

.btn.custom-btn.login-btn{
    font-size: 25px;
    
}

.btn.custom-btn.logout-btn{
    font-size: 15px;
}

#logo-img {
    /* border: 1px solid black; */
    margin-left: 15px;
    width: 290px;
    height: 100%;
}

#logo-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.side-navi{
    top: 100px;
    position: fixed;
    border-right: 1px solid #D9D9D9;
    width: 290px;
    height: 100%;
    overflow: hidden;
    background: #F3F3F3;
}

.side-navi > ul{
    /* border: 1px solid black; */
    padding-top: 50px;
    padding-left: 0px !important;
}

.side-navi > ul > li{
    /* border: 1px solid black; */
    margin-top: 20px;
    width: 100%;
    height: 65px;
    
}

.side-navi > ul > li> a{
    /* border: 1px solid black; */
    font-size: 28px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.side-navi > ul > li:last-child{
    margin-top: 200px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-navi > ul > li:last-child > a{
    font-size: 15px;
}

.side-navi > ul > li > a:hover{
    background: #FF9139;
}

.content{
    padding: 110px 10px 10px;
    margin-left: 290px;
}

.content > div {
	margin-bottom:10px;
}