@charset "UTF-8";

#content1{
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    height: 327px;
}

#content1>div {
    margin-top: 5px;
    /* border: 1px solid black; */
}

#content1>div:nth-child(-n+2){
    /* border: 1px solid black; */
    margin: 10px;
}

#content1>div:first-child{
    font-size: 30px;
}

#content1>div:nth-child(2){
    margin-bottom: 5px;
}

.recommend-button > ul{
    display: flex;
}

.recommend-button > ul >li {
    margin-right: 10px;
}

.recommend-button .custom-btn {
    width: 75px;
    height: 30px;
    border: 2px solid #FF9139;
    background: white;
    border-radius: 20px;
}

.recommend-button .custom-btn:disabled {
    background: #FF9139;
    color: black;
}

.my-swiper-box{
    height: 223px;
    /* border: 1px solid black; */
}

.swiper-wrapper {
    padding: 0 10px;
}

.swiper-slide .thumbnail{
    border-radius: 10px;
    border: 1px solid black;
    height: 180px;
}

.swiper-slide .title{
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
}

#content2{
    /* border: 1px solid #d9d9d9; */
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}

#content2-left{
    height: 100%;
    border-radius: 10px;
    width: 65%;
}

#content2-left>div{
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-bottom: 10px;
}

#content2-left>div:last-child{
    margin-bottom: 0;
}

.user-status{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #d9d9d9;
}

#user-info{
    display: flex;
    align-items: center;
}

#user-info>div{
    margin: 0 10px;
}

#user-info-img{
    width: 70px;
    height: 70px;
}

#user-info-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-info-exp>div{
    margin: 10px 0;
}

.user-info-level{
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

#user-exp-bar{
    width: 250px;
    height: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
}

#current-user-exp-bar{
    width: 50%;
    height: 100%;
    padding: 0;
    background: #FF9139;
    border-radius: 50px;
}

.achievement-donut-rate{
    display: flex;
}

.achievement-donut-rate>div{
    width: 99px;
    margin: 0 5px;
}

.donut-chart{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donut-chart::before {
    content: '';
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.donut-text {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.content-rate{
    text-align: center;
}

.quest-list{
    border: 1px solid #d9d9d9;
    padding: 10px;
}

.quest-list>div:first-child{
    font-size: 30px;
}

.quest-list-row{
    border: 1px solid #FF9139;
    border-radius: 10px
}

.quest-list-row>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
}

.quest-content{
    margin-right: 100px;
}

.quest-achieving-condition{
    margin-right: 25px;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-community{
    font-size: 30px;
    border: 1px solid #d9d9d9;
    padding: 10px;
}

.popular-community-list>div{
    border: 1px solid #d9d9d9;
    margin: 10px 0;
}

.popular-community .title{
    border: none;
}

.popular-community table{
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.popular-community td{
    font-size: 25px;
}

#content2-right{
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: 30%;
    height: 611px;
    padding: 10px;
}

#content2-right>div{
    border: 1px solid #d9d9d9;
}

.attendance-recode{
    font-size: 25px;
    width: 100%;
    padding: 10px;
}

.attendance-recode>div{
    /* border: 1px solid #d9d9d9; */
    margin: 5px 0;
}

#attendance,
#serial-attendance,
#total-attendance{
    display: flex;
    justify-content: space-between;
    align-items: center; /* 내부 요소를 수직 중앙 정렬 */
    margin: 10px 0; /* 각 섹션 사이에 간격 추가 */
}

#attendance-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.solve-a-quiz-day{
    margin-top: 100px;
}

.solve-a-quiz-day-bar{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.solve-a-quiz-bar{
    width: 7px;
    height: 100px;
    position: relative;
}

.solve-a-quiz-bar>div{
    width: 100%;
    height: 30%;
    background: #FF9139;
    position: absolute;
    bottom: 0;
}

.solve-a-quiz-day-of-week{
    font-size: 15px;
    padding:  0 10px;
    display: flex;
    justify-content: space-between;
}