/* 신고창 Modal css */

.modal-header img {
    width:50px;
    height:50px;
}
.report-choose-area{
    background-color: #EAEAEA;
    border-radius: 5px;
    padding:10px;
    margin-bottom:20px;
}

.report-choose-area label{
    margin-bottom:5px;
}

.report-choose-area input[type=radio]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.report-choose-area .custom-check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #7a7a7a;  /* 체크박스 테두리 색상 */
    border-radius: 3px;  /* 모서리를 살짝 둥글게 */
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s;
}

/* 선택 시 체크박스 모양 변경 */
.report-choose-area input[type="radio"]:checked + .custom-check {
    background-color: #3290f5;  /* 선택된 체크박스 배경색 */
}

.custom-check::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* 선택된 경우 체크 아이콘 표시 */
.report-choose-area  input[type="radio"]:checked + .custom-check::after {
    display: block;
}

#reportForm textarea[name=reportReason]{
    resize:none;
    padding:5px;
    width:100%;
    background-color: #D9D9D9;
}

#reportForm textarea[name=reportReason]:focus{
    outline: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 700px;
    padding: 20px;
    border: 2px solid #f0a94a;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.box {
    background-color: #ffb957;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box p{
    margin-top: 10px;
}

.highlight {
    color: red;
    font-weight: bold;
}

.level-box {
    margin: 20px 0;
}

.progress-bar {
    width: 80%;
    height: 20px;
    border: 2px solid #f0a94a;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: #33ff33;
    transition: width 0.5s; /* 애니메이션 효과 */
}   

.progress-text {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.rating-box {
    margin-bottom: 20px;
    color: #ffcc00;
    font-weight: bold;
    font-size: large;
}

.stars {
    font-size: 30px;
    color: #ccc; 
    cursor: pointer;
}

.star.selected {
    color: #ffcc00;
}

.star.unselected {
    color: #ccc; 
}


.buttons>button{
    margin-bottom: 20px;
    background-color: #dcfa72;
}

.buttons>button:hover{
    background-color: #1eff00;
}

.bottom-buttons>button{
    background-color: #ffc578;
    margin-bottom: 20px;
}

.button{
    background-color: #f0a94a;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #ff9100;
}

.bottom-buttons {
    margin-top: 20px;
    

}

.report-btn {
    background-color: #ff6666 !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.report-btn:hover {
    background-color: #ff1414 !important;
}



