.wrapper{
    width: 100%;
}

.category-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: -10;
}

.category-div div {
    display: inline-block;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    font-size: 25px;
}
.category-div div img {
    width: 120px;
    height: 120px;
}

@media (min-width: 901px) and (max-width: 1410px) {
    .category-div{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 400px) and (max-width: 900px) {
    .category-div{
        grid-template-columns:1fr 1fr 1fr;
    }
}


.search-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

#search-div-area {
    background-color: #d9d9d9;
    border-radius: 50px;
    width: 600px;
    height: 45px;
    display: flex;
}

#search-select {
    background-color: #d9d9d9;
    height: auto;
    font-size: 20px;
    border: none;
    margin-left: 20px;
}

#search-text {
    background-color: #d9d9d9;
    border: none;
    text-align: right;
    width: 70%;
}

#search-submit {
    background-color: #d9d9d9;
    border: none;
    margin: 5px;
    margin-left: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}







.video-grid{
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

.video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
.video-priview{
    width: calc(25% - 16px);
}

@media (max-width: 499px){
    .video-grid{ grid-template-columns: 1fr; }
    .video-priview{
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width:749px){
    .video-grid{ grid-template-columns: 1fr 1fr; }
    .video-priview{
        width: calc(50% - 16px);
    }
}

@media (min-width: 750px) and (max-width:999px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr; }
    .video-priview{
        width: calc(33.3% - 16px);
    }
}

/* @media (min-width: 1000px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
    .video-priview{
        width: calc(25% - 16px);
    }
} */

.video-flex{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.thumbnail{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.video-info-grid{
    width: 100%;
}

.channel-picture > img{
    width: 36px;
    border-radius: 50px;
}

.video-title{
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    width: 100%;
}


.option2{
    display:flex;
    justify-content: center;
    height:30px;
}