#image-playing {
    background-size: cover;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

#image-div {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#image-divs div{
    position: absolute;
    background: #ffffff;
    border-radius: 59px;
    border-style: solid;
    border-color: #000000;
    border-width: 1.18px;
    padding-left: 5px;
    padding-right: 5px;
}
#image-divs-1{
    left: 10px;
    bottom: 5px;
}
#image-divs-2{
    right: 10px;
    bottom: 5px;
}

.image-container{
    background-color: black;
    width: 100%;
    height: 75%;
    display: flex;
    position: relative;
}

#div-top{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.video-grid{
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

.video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
.video-priview{
    width: calc(25% - 16px);
}

@media (max-width: 499px){
    .video-grid{ grid-template-columns: 1fr; }
    .video-priview{
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width:749px){
    .video-grid{ grid-template-columns: 1fr 1fr; }
    .video-priview{
        width: calc(50% - 16px);
    }
}

@media (min-width: 750px) and (max-width:999px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr; }
    .video-priview{
        width: calc(33.3% - 16px);
    }
}

/* @media (min-width: 1000px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
    .video-priview{
        width: calc(25% - 16px);
    }
} */

.video-flex{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.thumbnail{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.video-info-grid{
    width: 100%;
}

.channel-picture > img{
    width: 36px;
    border-radius: 50px;
}

.video-title{
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    width: 100%;
}


.marked{
    background-color: red;
}