#image-playing {
    background-size: cover;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#image-div {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-div > div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

#image-div > div:nth-child(2) button img {
    width: 100%;
}

#image-div > div:nth-child(2) > button:nth-child(1){
    background-color: #FF9139;
    border-radius: 6px;
    border-width: 0px;
    box-shadow: 0px 2.42px 3.62px 0px rgba(0, 0, 0, 0.25);
}

#playenter{
    padding: 5px 15px 5px 15px;
    gap: 5px;
    font-size: 30px;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;
    border-style: solid;
    border-color: #ffb246;
    border-width: 2px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#playenter img{
    height: 100%;
}

#image-divs div{
    gap: 5px;
    font-size: 35px;
    position: absolute;
    background: #ffffff;
    border-radius: 59px;
    border-style: solid;
    border-color: #000000;
    border-width: 1.18px;
    padding: 5px 10px 5px 5px;
    display: flex;
}
#image-divs-1{
    left: 10px;
    bottom: 5px;
}
#image-divs-2{
    text-align: right;
    justify-content: space-between;
    right: 10px;
    bottom: 5px;
    /* min-width: 100px; */
}

.image-container{
    background-color: black;
    width: 100%;
    height: 75%;
    display: flex;
    position: relative;
}

#div-top{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.video-grid{
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

.video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
.video-priview{
    width: calc(25% - 16px);
}

@media (max-width: 499px){
    .video-grid{ grid-template-columns: 1fr; }
    .video-priview{
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width:749px){
    .video-grid{ grid-template-columns: 1fr 1fr; }
    .video-priview{
        width: calc(50% - 16px);
    }
}

@media (min-width: 750px) and (max-width:999px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr; }
    .video-priview{
        width: calc(33.3% - 16px);
    }
}

/* @media (min-width: 1000px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
    .video-priview{
        width: calc(25% - 16px);
    }
} */

.video-flex{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.thumbnail{
    object-fit: contain;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 0.5px;
}

.video-info-grid{
    width: 100%;
}

.channel-picture > img{
    width: 36px;
    border-radius: 50px;
}

.video-title{
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 0.5px;
    width: 100%;
}


.marked{
    background-color: #FFB246 !important;
}

#content-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

#title{
    border-radius: 7.8px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 0.5px;
    display: flex;
    align-items: center;
}
#title div:nth-child(1){
    font-size: 35px;
    text-align: center;
    min-width: 120px;
    margin: 5px 5px 5px 2px;
    padding: 0px 5px 0px 5px;
    border-radius: 7.8px;
    border-style: solid;
    border-color: #FFB246;
    border-width: 2px;
}

#title div:nth-child(2){
    font-size: 47px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#explanation {
    border-radius: 7.8px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 0.5px;
    display: inline;
    align-items: center;
    flex-direction: column;
}

#explanation div:nth-child(1){
    font-size: 35px;
    min-height: 6em;
    margin: 5px 5px 5px 5px;
    padding: 0px 10px 0px 10px;
    border-radius: 7.8px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

#explanation div:nth-child(2){
    margin: 10px 10px 10px 10px;
    padding: 0px 5px 0px 5px;
    gap: 5px;
    display: flex;
    justify-content: flex-end;
}

#explanation div:nth-child(2) button{
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    padding: 0px 5px 0px 5px;
}

#content-text div:nth-child(3){
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#content-text div:nth-child(3) button {
    background-color: white;
    border-radius: 59px;
    border-style: solid;
    border-color: #000000;
    border-width: 1.18px;
    padding: 0px 15px;
    font-size: 35px;
}