body{
    min-width: 750px;
}

.wrapper{
    width: 100%;
}
.category-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.category-div div {
    display: inline-block;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    font-size: 25px;
}

.category-div div:hover{
    cursor: pointer;
}

.category-div div img {
    width: 120px;
    height: 120px;
}

@media (min-width: 901px) and (max-width: 1410px) {
    .category-div{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .category-div{
        grid-template-columns:1fr 1fr 1fr;
    }
}


.search-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-div-area {
    background-color: #d9d9d9;
    border-radius: 50px;
    width: 600px;
    height: 45px;
    display: flex;
}

#search-select {
    background-color: #d9d9d9;
    height: auto;
    font-size: 20px;
    border: none;
    margin-left: 20px;
}

#search-text {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d9d9d9;
    border: none;
    text-align: left;
    margin-left: 10px;
    width: 70%;
}

#search-submit {
    background-color: #d9d9d9;
    border: none;
    margin: 5px;
    margin-left: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#tag-popup{
    position: fixed;
    border-radius: 50px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: white;
    height: 400px;
    width: 350px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    right: 10px;
    top: 100px;
    z-index: 50;

    flex-direction: column;

    text-align: center;
}

#tag-top{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tag-search-exit-button{
    margin-top: 8px;
}

#tag-popup-tags, #tag-selected-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

#tag-clear-confirm{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#tag-clear-confirm button{
    font-size: 20px;
    background: none;
    border-radius: 50px;
    width: 70px;
    height: auto;
    margin-bottom: 10px;
}


#tag-popup input[type=text]{
    width: 250px;
    margin-top: 20px;
    font-size: 25px;
    background: #d9d9d9;
    border-radius: 50px;
    text-align: center;
}

#tag-popup input[type=image]{
    margin-top: 20px;
    width: 40px;
}

#tag-popup-tags button , #tag-selected-div button{
    background: #d9d9d9;
    border-radius: 10px;
    max-width: 100%;
    min-width: 85px;
    height: 27px;
    margin: 5px;
}

.tag-clicked {
    background-color: #FF9139 !important;
}

.video-grid{
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

.video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
.video-priview{
    cursor: pointer;
    width: calc(25% - 16px);
}

/* @media (max-width: 499px){
    .video-grid{ grid-template-columns: 1fr; }
    .video-priview{
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width:749px){
    .video-grid{ grid-template-columns: 1fr 1fr; }
    .video-priview{
        width: calc(50% - 16px);
    }
} */

@media (max-width:999px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr; }
    .video-priview{
        width: calc(33.3% - 16px);
    }
}

/* @media (min-width: 1000px){
    .video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr; }
    .video-priview{
        width: calc(25% - 16px);
    }
} */

.video-flex{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.thumbnail-row{
    margin-bottom: 8px;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 0.5px;
    width: 100%;
}

.thumbnail{
    object-fit: contain;
    width: 100%;
    height: 200px;
}

.video-info-grid{
    width: 100%;
}

.channel-picture > img{
    width: 36px;
    border-radius: 50px;
}

.video-title{
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 0.5px;
    width: 100%;
}


.option2{
    display:flex;
    justify-content: center;
    height:30px;
}


.option2 > button {
    width:30px;
    height:30px;
    border:1px solid #989898;
}

#array-buttons > button {
    width: 75px;
    height: 30px;
    border: 2px solid #FF9139;
    background: white;
    border-radius: 20px;
}

#array-buttons > button:disabled {
    background: #FF9139;
    color: black;
}

#tag-popup-button > button {
    width: 90px;
    height: 30px;
    border: 2px solid #FF9139;
    background: white;
    border-radius: 20px;
}