<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>KHSemiProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login.me</display-name>
    <servlet-name>login.me</servlet-name>
    <servlet-class>com.kh.member.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.me</servlet-name>
    <url-pattern>/login.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout.me</display-name>
    <servlet-name>logout.me</servlet-name>
    <servlet-class>com.kh.member.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout.me</servlet-name>
    <url-pattern>/logout.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main.me</display-name>
    <servlet-name>main.me</servlet-name>
    <servlet-class>com.kh.main.controller.MainPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main.me</servlet-name>
    <url-pattern>/main.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>list.bo</display-name>
    <servlet-name>list.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list.bo</servlet-name>
    <url-pattern>/list.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>community</display-name>
    <servlet-name>community</servlet-name>
    <servlet-class>com.kh.community.controller.BoardMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>community</servlet-name>
    <url-pattern>/community</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board</display-name>
    <servlet-name>board</servlet-name>
    <servlet-class>com.kh.community.controller.BoardViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>main.sl</display-name>
    <servlet-name>main.sl</servlet-name>
    <servlet-class>com.kh.search.controller.SearchMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main.sl</servlet-name>
    <url-pattern>/main.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin.me</display-name>
    <servlet-name>signin.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin.me</servlet-name>
    <url-pattern>/signin.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Update.me</display-name>
    <servlet-name>Update.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberPwdUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update.me</servlet-name>
    <url-pattern>/Update.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userset.me</display-name>
    <servlet-name>userset.me</servlet-name>
    <servlet-class>com.kh.member.controller.userset1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userset.me</servlet-name>
    <url-pattern>/userset.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>write.bo</display-name>
    <servlet-name>write.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardEnrollController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>write.bo</servlet-name>
    <url-pattern>/write.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>attend.me</display-name>
    <servlet-name>attend.me</servlet-name>
    <servlet-class>com.kh.member.controller.AttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attend.me</servlet-name>
    <url-pattern>/attend.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create.quiz</display-name>
    <servlet-name>create.quiz</servlet-name>
    <servlet-class>com.kh.createQuiz.controller.CreateQuizMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create.quiz</servlet-name>
    <url-pattern>/create.quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert.bo</display-name>
    <servlet-name>insert.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert.bo</servlet-name>
    <url-pattern>/insert.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comment.bo</display-name>
    <servlet-name>comment.bo</servlet-name>
    <servlet-class>com.kh.community.controller.CommentInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comment.bo</servlet-name>
    <url-pattern>/comment.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>userset2.me</display-name>
    <servlet-name>userset2.me</servlet-name>
    <servlet-class>com.kh.member.controller.userset2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userset2.me</servlet-name>
    <url-pattern>/userset2.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userset3.me</display-name>
    <servlet-name>userset3.me</servlet-name>
    <servlet-class>com.kh.member.controller.userset3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userset3.me</servlet-name>
    <url-pattern>/userset3.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userset4.me</display-name>
    <servlet-name>userset4.me</servlet-name>
    <servlet-class>com.kh.member.controller.userset4Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userset4.me</servlet-name>
    <url-pattern>/userset4.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete.bo</display-name>
    <servlet-name>delete.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete.bo</servlet-name>
    <url-pattern>/delete.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personal.me</display-name>
    <servlet-name>personal.me</servlet-name>
    <servlet-class>com.kh.member.controller.PersonalPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personal.me</servlet-name>
    <url-pattern>/personal.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AjaxQuizTagListController</display-name>
    <servlet-name>AjaxQuizTagListController</servlet-name>
    <servlet-class>com.kh.search.controller.AjaxQuizTagListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxQuizTagListController</servlet-name>
    <url-pattern>/tgSearch.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete.co</display-name>
    <servlet-name>delete.co</servlet-name>
    <servlet-class>com.kh.community.controller.CommentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete.co</servlet-name>
    <url-pattern>/delete.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tab.bo</display-name>
    <servlet-name>tab.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardTabController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tab.bo</servlet-name>
    <url-pattern>/tab.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete.me</display-name>
    <servlet-name>delete.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete.me</servlet-name>
    <url-pattern>/delete.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>like.bo</display-name>
    <servlet-name>like.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardLikeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>like.bo</servlet-name>
    <url-pattern>/like.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>poplist.bo</display-name>
    <servlet-name>poplist.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardNowPopListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>poplist.bo</servlet-name>
    <url-pattern>/poplist.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personal.sl</display-name>
    <servlet-name>personal.sl</servlet-name>
    <servlet-class>com.kh.search.controller.AjaxSelectMyQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personal.sl</servlet-name>
    <url-pattern>/personal.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchClickController</display-name>
    <servlet-name>SearchClickController</servlet-name>
    <servlet-class>com.kh.search.controller.SearchClickController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClickController</servlet-name>
    <url-pattern>/click.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search.bo</display-name>
    <servlet-name>search.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search.bo</servlet-name>
    <url-pattern>/search.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reply.co</display-name>
    <servlet-name>reply.co</servlet-name>
    <servlet-class>com.kh.community.controller.CommentReplyInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reply.co</servlet-name>
    <url-pattern>/reply.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>userUpdate.me</display-name>
    <servlet-name>userUpdate.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdate.me</servlet-name>
    <url-pattern>/userUpdate.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxQuizMarkController</display-name>
    <servlet-name>AjaxQuizMarkController</servlet-name>
    <servlet-class>com.kh.search.controller.AjaxQuizMarkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxQuizMarkController</servlet-name>
    <url-pattern>/mkQuiz.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profile.me</display-name>
    <servlet-name>profile.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile.me</servlet-name>
    <url-pattern>/profile.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>topten.sl</display-name>
    <servlet-name>topten.sl</servlet-name>
    <servlet-class>com.kh.search.controller.AjaxTopTenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topten.sl</servlet-name>
    <url-pattern>/topten.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxQuizMarkInitController</display-name>
    <servlet-name>AjaxQuizMarkInitController</servlet-name>
    <servlet-class>com.kh.search.controller.AjaxQuizMarkInitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxQuizMarkInitController</servlet-name>
    <url-pattern>/mkQuizInit.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert.quiz</display-name>
    <servlet-name>insert.quiz</servlet-name>
    <servlet-class>com.kh.createQuiz.controller.InsertQuizMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert.quiz</servlet-name>
    <url-pattern>/insert.quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>report.bo</display-name>
    <servlet-name>report.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report.bo</servlet-name>
    <url-pattern>/report.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>problems.co</display-name>
    <servlet-name>problems.co</servlet-name>
    <servlet-class>com.kh.createQuiz.controller.problemsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>problems.co</servlet-name>
    <url-pattern>/problems.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayQuizMainController</display-name>
    <servlet-name>PlayQuizMainController</servlet-name>
    <servlet-class>com.kh.playQuiz.controller.PlayQuizMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayQuizMainController</servlet-name>
    <url-pattern>/main.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxPlayQuizAnswerCheckController</display-name>
    <servlet-name>AjaxPlayQuizAnswerCheckController</servlet-name>
    <servlet-class>com.kh.playQuiz.controller.AjaxPlayQuizAnswerCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPlayQuizAnswerCheckController</servlet-name>
    <url-pattern>/qzAnswer.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>report.co</display-name>
    <servlet-name>report.co</servlet-name>
    <servlet-class>com.kh.community.controller.CommentReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report.co</servlet-name>
    <url-pattern>/report.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjzxPlayQuizMediaController</display-name>
    <servlet-name>AjzxPlayQuizMediaController</servlet-name>
    <servlet-class>com.kh.playQuiz.controller.AjzxPlayQuizMediaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjzxPlayQuizMediaController</servlet-name>
    <url-pattern>/pMedia.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxPlayQuizViewCountController</display-name>
    <servlet-name>AjaxPlayQuizViewCountController</servlet-name>
    <servlet-class>com.kh.playQuiz.controller.AjaxPlayQuizViewCountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPlayQuizViewCountController</servlet-name>
    <url-pattern>/qzPlCount.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayQuizEndController</display-name>
    <servlet-name>PlayQuizEndController</servlet-name>
    <servlet-class>com.kh.playQuiz.controller.PlayQuizEndController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayQuizEndController</servlet-name>
    <url-pattern>/pqEnd.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyQuestController</display-name>
    <servlet-name>DailyQuestController</servlet-name>
    <servlet-class>com.kh.member.controller.DailyQuestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyQuestController</servlet-name>
    <url-pattern>/dailyQuest.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxPlayQuizStarsCheck</display-name>
    <servlet-name>AjaxPlayQuizStarsCheck</servlet-name>
    <servlet-class>com.kh.playQuiz.controller.AjaxPlayQuizStarsCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPlayQuizStarsCheck</servlet-name>
    <url-pattern>/rankCheck.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxPlayQuizStarsConfirm</display-name>
    <servlet-name>AjaxPlayQuizStarsConfirm</servlet-name>
    <servlet-class>com.kh.playQuiz.controller.AjaxPlayQuizStarsConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPlayQuizStarsConfirm</servlet-name>
    <url-pattern>/rankConfirm.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxQuizClickReportController</display-name>
    <servlet-name>AjaxQuizClickReportController</servlet-name>
    <servlet-class>com.kh.search.controller.AjaxQuizClickReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxQuizClickReportController</servlet-name>
    <url-pattern>/report.qz</url-pattern>
  </servlet-mapping>
</web-app>