<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>KHSemiProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login.me</display-name>
    <servlet-name>login.me</servlet-name>
    <servlet-class>com.kh.member.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.me</servlet-name>
    <url-pattern>/login.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout.me</display-name>
    <servlet-name>logout.me</servlet-name>
    <servlet-class>com.kh.member.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout.me</servlet-name>
    <url-pattern>/logout.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main.me</display-name>
    <servlet-name>main.me</servlet-name>
    <servlet-class>com.kh.main.controller.MainPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main.me</servlet-name>
    <url-pattern>/main.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>list.bo</display-name>
    <servlet-name>list.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list.bo</servlet-name>
    <url-pattern>/list.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>community</display-name>
    <servlet-name>community</servlet-name>
    <servlet-class>com.kh.community.controller.BoardMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>community</servlet-name>
    <url-pattern>/community</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board</display-name>
    <servlet-name>board</servlet-name>
    <servlet-class>com.kh.community.controller.BoardViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>main.sl</display-name>
    <servlet-name>main.sl</servlet-name>
    <servlet-class>com.kh.search.controller.SearchMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main.sl</servlet-name>
    <url-pattern>/main.sl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin.me</display-name>
    <servlet-name>signin.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin.me</servlet-name>
    <url-pattern>/signin.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Update.me</display-name>
    <servlet-name>Update.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberPwdUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update.me</servlet-name>
    <url-pattern>/Update.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userset.me</display-name>
    <servlet-name>userset.me</servlet-name>
    <servlet-class>com.kh.member.controller.usersetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userset.me</servlet-name>
    <url-pattern>/userset.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>write.bo</display-name>
    <servlet-name>write.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardEnrollController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>write.bo</servlet-name>
    <url-pattern>/write.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>attend.me</display-name>
    <servlet-name>attend.me</servlet-name>
    <servlet-class>com.kh.member.controller.AttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attend.me</servlet-name>
    <url-pattern>/attend.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create.quiz</display-name>
    <servlet-name>create.quiz</servlet-name>
    <servlet-class>com.kh.quiz.controller.CreateQuizMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create.quiz</servlet-name>
    <url-pattern>/create.quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert.bo</display-name>
    <servlet-name>insert.bo</servlet-name>
    <servlet-class>com.kh.community.controller.BoardInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert.bo</servlet-name>
    <url-pattern>/insert.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quizCreate</servlet-name>
    <jsp-file>/templates/CreateQuiz.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>quizCreate</servlet-name>
    <url-pattern>/quiz.cr</url-pattern>
</servlet-mapping>
  
</web-app>