<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) AS COUNT
		  FROM COMMUNITY
		 WHERE COMMUNITY_TAB = 1
	</entry>
	
	<entry key="selectList">
		SELECT *
		FROM
		    (SELECT COMMUNITY_NUMBER,
		           COMMUNITY_TITLE,
		           COMMUNITY_TAB,
		           COMMUNITY_VIEWCOUNT,
		           COMMUNITY_DATE,
		           MEMBER_NICKNAME,
		           ROW_NUMBER() OVER(ORDER BY COMMUNITY_DATE DESC) AS RNUM
		    FROM COMMUNITY
		    JOIN MEMBER USING(MEMBER_NUMBER))
		WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>