<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry keyword="insertquiz">
		INSERT INTO QUIZ
		(
		QUIZ_NUMBER,
		QUIZ_TITLE,
		QUIZ_DATE,
		QUIZ_MODIFY_DATE,
		QUIZ_EXPLANATION,
		CATEGORY_NUMBER,
		THUMBNAIL
		)
		VALUES
		(
		SEQ_UNO.NEXTVAL,
		?,
		SYSDATE,
		SYSDATE,
		?,
		?,
		?
		)
	</entry>

</properties>


