<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT MEMBER_NUMBER,
			   MEMBER_ID,
			   MEMBER_PWD,
			   MEMBER_NICKNAME,
			   MEMBER_EXP,
			   MEMBER_IMAGE,
			   MEMBER_JOIN_DATE,
			   MEMBER_CHECK_CONTINUECOUNT,
			   MEMBER_STATUS,
			   MEMBER_INTRODUCE,
			   MEMBER_EMAIL,
			   ADDRESS,
			   PHONE
		  FROM MEMBER
		 WHERE MEMBER_ID = ? 
		   AND MEMBER_PWD = ? 
		   AND MEMBER_STATUS = 'Y'
	</entry>
	<entry key="insertMember">
		INSERT INTO MEMBER
		(
			MEMBER_NUMBER,
			MEMBER_ID,
			MEMBER_PWD,
			MEMBER_NICKNAME
		)
		VALUES
		(
			SEQ_MNO.NEXTVAL,
			?,
			?,
			?
		)
	</entry>
	<entry key="selectMemberId">
		SELECT MEMBER_NUMBER,
			   MEMBER_ID,
			   MEMBER_PWD,
			   MEMBER_NICKNAME,
			   MEMBER_EXP,
			   MEMBER_IMAGE,
			   MEMBER_JOIN_DATE,
			   MEMBER_CHECK_CONTINUECOUNT,
			   MEMBER_STATUS,
			   MEMBER_INTRODUCE,
			   MEMBER_EMAIL,
			   ADDRESS,
			   PHONE
		  FROM MEMBER
		 WHERE MEMBER_ID = ?
		   AND MEMBER_STATUS = 'Y'
	</entry>
	
	<entry key="selectMemberNo">
		SELECT MEMBER_NUMBER,
			   MEMBER_ID,
			   MEMBER_PWD,
			   MEMBER_NICKNAME,
			   MEMBER_EXP,
			   MEMBER_IMAGE,
			   MEMBER_JOIN_DATE,
			   MEMBER_CHECK_CONTINUECOUNT,
			   MEMBER_STATUS,
			   MEMBER_INTRODUCE,
			   MEMBER_EMAIL,
			   ADDRESS,
			   PHONE
		  FROM MEMBER
		 WHERE MEMBER_NUMBER = ?
		   AND MEMBER_STATUS = 'Y'
	</entry>
	
	<entry key="attendanceCheck">
		SELECT COUNT(*) AS COUNT
  		  FROM DAILY_CHECK
 		 WHERE MEMBER_NUMBER = ?
 		   AND TO_CHAR(DAILY_CHECK_DATE) = TO_CHAR(SYSDATE)
	</entry>
	<entry key="attendanceInsert">
		INSERT INTO DAILY_CHECK
		VALUES(SEQ_DCNO.nextval, SYSDATE, ?)
	</entry>
	<entry key="totalAttendance">
		SELECT COUNT(*) AS COUNT
  		  FROM DAILY_CHECK
 		 WHERE MEMBER_NUMBER = ?
	</entry>
	<entry key="deforeAttendCheck">
		SELECT COUNT(*) AS COUNT
  		  FROM DAILY_CHECK
 		 WHERE MEMBER_NUMBER = ? 
 		   AND TO_CHAR(DAILY_CHECK_DATE) = TO_CHAR(SYSDATE - 1)
	</entry>
	<entry key="resetAttend">
		UPDATE MEMBER 
		   SET MEMBER_CHECK_CONTINUECOUNT = 0
		 WHERE MEMBER_NUMBER = ?
	</entry>
	<entry key="updateContinueCount">
		UPDATE MEMBER 
		   SET MEMBER_CHECK_CONTINUECOUNT = MEMBER_CHECK_CONTINUECOUNT + 1
		 WHERE MEMBER_NUMBER = ?
	</entry>
	<entry key="updatePwdMember">
		UPDATE MEMBER
		SET MEMBER_PWD = ?
		WHERE MEMBER_ID = ?
		  AND MEMBER_PWD = ?
	</entry>
	<entry key="deleteMember">
		UPDATE MEMBER
			SET MEMBER_STATUS = 'N'
		WHERE MEMBER_ID = ?
			AND MEMBER_PWD = ?
	</entry>
	<entry key="updateMember">
   UPDATE MEMBER
	SET MEMBER_NICKNAME = ?,
	    MEMBER_EMAIL = ?,
	    PHONE = ?,
	    ADDRESS = ?
	WHERE MEMBER_ID = ?
</entry>
</properties>