<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT MEMBER_NUMBER,
			   MEMBER_ID,
			   MEMBER_PWD,
			   MEMBER_NICKNAME,
			   MEMBER_EXP,
			   MEMBER_IMAGE,
			   MEMBER_JOIN_DATE,
			   MEMBER_CHECK_CONTINUECOUNT,
			   MEMBER_STATUS,
			   MEMBER_INTRODUCE
		  FROM MEMBER
		 WHERE MEMBER_ID = ? 
		   AND MEMBER_PWD = ? 
		   AND MEMBER_STATUS = 'Y'
	</entry>
	<entry key="insertMember">
		INSERT INTO MEMBER
		(
			MEMBER_NUMBER,
			MEMBER_ID,
			MEMBER_PWD,
			MEMBER_NICKNAME,
			MEMBER_CHECK_CONTINUECOUNT
		)
		VALUES
		(
			SEQ_MNO.NEXTVAL,
			?,
			?,
			?,
			0
		)
	</entry>
</properties>