<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectQuizProblem">
		SELECT PROBLEM_NUMBER,
			   PROBLEM_CONTENT,
			   PROBLEM_MEDIA_KIND,
			   PROBLEM_HINT,
			   Ptime
		  FROM PROBLEM
		 WHERE QUIZ_NUMBER=? 
	
	</entry>
	
	<entry key="AjaxPlayQuizAnswerCheck">
		SELECT ANSWER_NUMBER
		FROM ANSWER
		WHERE PROBLEM_NUMBER = ?
		AND ANSWER_CONTENT = ?
	</entry>
	
	<entry key="getCorrectAnswer">
		SELECT ANSWER_CONTENT
		FROM ANSWER
		WHERE PROBLEM_NUMBER = ?
	</entry>
	
	<entry key="AjaxPlayQuizViewCount">
		INSERT INTO QUIZ_LOG
		VALUES
		(
			SEQ_QLOG.NEXTVAL,
			?,
			?,
			?,
			SYSDATE
		)
	</entry>
	
	<entry key="AjaxPlayQuizMedia">
		SELECT PROBLEM_MEDIA
		FROM PROBLEM
		WHERE PROBLEM_NUMBER = ?
	</entry>
	
	<entry key="AjaxPlayQuizStarsCheck">
		SELECT QUIZ_RATE_RATING
		FROM QUIZ_RATE
		WHERE MEMBER_NUMBER = ?
		  AND QUIZ_NUMBER = ?
	</entry>
	
	<entry key="AjaxPlayQuizStarsConfirm">
		INSERT INTO QUIZ_RATE
		VALUES
		(
			?,
			?,
			?
		)
	</entry>
	<entry key="MemberAddExp">
		UPDATE MEMBER
		SET
		MEMBER_EXP = MEMBER_EXP + 100
		WHERE MEMBER_NUMBER = ?
	</entry>
	
	<entry key="PreCheckLog">
		SELECT QUIZ_LOG_NUMBER
		FROM QUIZ_LOG
		WHERE QUIZ_NUMBER = ?
		AND MEMBER_NUMBER = ?
	</entry>
	
	<entry key="PlayQuizSelectExp">
		SELECT MEMBER_EXP
		FROM MEMBER
		WHERE MEMBER_NUMBER = ?
	</entry>
	
 	<entry key="successQuest">
	UPDATE MEMBER_QUEST
   	   SET MEMBER_QUEST_SUCCESS = 1
	 WHERE MEMBER_NUMBER = ?
	   AND QUEST_NUMBER = ?
	</entry>
	
	<entry key="checkDailyQuest">
   SELECT MEMBER_QUEST_SUCCESS
     FROM MEMBER_QUEST
   	WHERE MEMBER_NUMBER = ?
	  AND QUEST_NUMBER = ?
	</entry>
</properties>


