<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTagList">
		SELECT TAG_NAME, COUNT(*) AS COUNT
		FROM QUIZ_TAG
		WHERE TAG_NAME LIKE ?
        GROUP BY TAG_NAME
        ORDER BY COUNT DESC
	</entry>

	<entry key="selectMyQuiz">
		SELECT QUIZ_NUMBER,
			   QUIZ_TITLE
		  FROM QUIZ
		 WHERE MEMBER_NUMBER = ?
	</entry>

	<entry key="detailQuiz">
		SELECT QUIZ_NUMBER,
			   QUIZ_TITLE,
			   QUIZ_MODIFY_DATE,
			   MEMBER_NICKNAME,
			   CATEGORY_NAME,
			   QUIZ_EXPLANATION
		  FROM QUIZ
		  JOIN CATEGORY USING (CATEGORY_NUMBER)
		  JOIN MEMBER USING (MEMBER_NUMBER)
		  WHERE QUIZ_NUMBER = ?
	</entry>
	
	<entry key="quizViewCount">
		SELECT COUNT(*) AS COUNT
		FROM QUIZ_LOG
		WHERE QUIZ_NUMBER = ?
	</entry>
	
	<entry key="TagArray">
		SELECT TAG_NAME
		FROM QUIZ_TAG
		WHERE QUIZ_NUMBER = ?
	</entry>
	
	<entry key="quizRateAvg">
		SELECT ROUND(AVG(QUIZ_RATE_RATING), 2) AS AVG
		FROM QUIZ_RATE
		GROUP BY QUIZ_NUMBER
		HAVING QUIZ_NUMBER = ?
	</entry>
	
	<entry key="selectLatestQuiz">
		SELECT *
  		FROM (SELECT ROW_NUMBER() OVER(ORDER BY QUIZ_NUMBER DESC) AS RNO,
			   		 QUIZ_NUMBER,
			   		 QUIZ_TITLE
		  		FROM QUIZ)
          	   WHERE RNO BETWEEN 1 AND 10
	</entry>

	<entry key="markSelect">
        SELECT *
         FROM BOOKMARK
         WHERE MEMBER_NUMBER = ?
         AND QUIZ_NUMBER = ?
    </entry>
    
    <entry key="markInsert">
        INSERT INTO BOOKMARK
        VALUES
        (
            ?,
            ?
        )
    
    
    </entry>
    
    <entry key="markDelete">
        DELETE
          FROM BOOKMARK
         WHERE MEMBER_NUMBER = ?
         AND QUIZ_NUMBER = ?
    
    </entry>
    
	<entry key="selectinquiryQuiz">
		SELECT *
  		  FROM (SELECT ROW_NUMBER() OVER(ORDER BY COUNT(QUIZ_NUMBER) DESC) AS RNO,
               QUIZ_NUMBER,
               QUIZ_TITLE,
               COUNT(QUIZ_NUMBER)
          FROM QUIZ_LOG
          JOIN QUIZ USING(QUIZ_NUMBER)
         GROUP BY QUIZ_NUMBER, QUIZ_TITLE)
 		 WHERE RNO BETWEEN 1 AND 10
	</entry>
</properties>


