<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTagList">
		SELECT TAG_NAME, COUNT(*) AS COUNT
		FROM QUIZ_TAG
		WHERE TAG_NAME LIKE ?
        GROUP BY TAG_NAME
        ORDER BY COUNT DESC
	</entry>

	<entry key="latestCreateRate">
		SELECT *
          FROM (SELECT ROWNUM AS RNO,
                       QUIZ_NUMBER,
                       QUIZ_TITLE,
                       THUMBNAIL
                  FROM QUIZ
                 WHERE MEMBER_NUMBER = ?)
         ORDER BY RNO DESC
	</entry>

	<entry key="detailQuiz">
		SELECT QUIZ_NUMBER,
			   QUIZ_TITLE,
			   QUIZ_MODIFY_DATE,
			   MEMBER_NICKNAME,
			   CATEGORY_NAME,
			   QUIZ_EXPLANATION,
			   THUMBNAIL
		  FROM QUIZ
		  JOIN CATEGORY USING (CATEGORY_NUMBER)
		  JOIN MEMBER USING (MEMBER_NUMBER)
		  WHERE QUIZ_NUMBER = ?
	</entry>
	
	<entry key="quizViewCount">
		SELECT COUNT(*) AS COUNT
		FROM QUIZ_LOG
		WHERE QUIZ_NUMBER = ?
	</entry>
	
	<entry key="TagArray">
		SELECT TAG_NAME
		FROM QUIZ_TAG
		WHERE QUIZ_NUMBER = ?
	</entry>
	
	<entry key="quizRateAvg">
		SELECT ROUND(AVG(QUIZ_RATE_RATING), 2) AS AVG
		FROM QUIZ_RATE
		GROUP BY QUIZ_NUMBER
		HAVING QUIZ_NUMBER = ?
	</entry>
	
	<entry key="selectLatestQuiz">
		SELECT *
  		FROM (SELECT ROW_NUMBER() OVER(ORDER BY QUIZ_NUMBER DESC) AS RNO,
			   		 QUIZ_NUMBER,
			   		 QUIZ_TITLE,
			   		 THUMBNAIL
		  		FROM QUIZ)
          	   WHERE RNO BETWEEN 1 AND 10
	</entry>

	<entry key="markSelect">
        SELECT *
         FROM BOOKMARK
         WHERE MEMBER_NUMBER = ?
         AND QUIZ_NUMBER = ?
    </entry>
    
    <entry key="markInsert">
        INSERT INTO BOOKMARK
        VALUES
        (	
        	SEQ_BNO.NEXTVAL,
            ?,
            ?
        )
    
    
    </entry>
    
    <entry key="markDelete">
        DELETE
          FROM BOOKMARK
         WHERE MEMBER_NUMBER = ?
         AND QUIZ_NUMBER = ?
    
    </entry>
    
	<entry key="selectinquiryQuiz">
		SELECT *
  		  FROM (SELECT ROW_NUMBER() OVER(ORDER BY COUNT(QUIZ_NUMBER) DESC) AS RNO,
               QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL
          FROM QUIZ_LOG
          JOIN QUIZ USING(QUIZ_NUMBER)
         GROUP BY QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL)
 		 WHERE RNO BETWEEN 1 AND 10
	</entry>
	
	<entry key="selectGradeQuiz">
		SELECT *
  		  FROM (SELECT ROW_NUMBER() OVER(ORDER BY AVG(QUIZ_RATE_RATING) DESC, COUNT(QUIZ_NUMBER) DESC, QUIZ_TITLE) AS RNO,
               		   QUIZ_NUMBER,
               		   QUIZ_TITLE,
               		   THUMBNAIL,
               		   TRUNC(AVG(QUIZ_RATE_RATING), 2) AS QUIZ_RATE_RATING
          		  FROM QUIZ_RATE
          		  JOIN QUIZ USING(QUIZ_NUMBER)
         		 GROUP BY QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL)
 		 WHERE RNO BETWEEN 1 AND 10
	</entry>
	
	<entry key="insertQuiz">
		INSERT INTO QUIZ
        (
            QUIZ_NUMBER,
            QUIZ_TITLE,
            QUIZ_DATE,
            QUIZ_MODIFY_DATE,
            QUIZ_EXPLANATION,
            MEMBER_NUMBER,
            CATEGORY_NUMBER,
            THUMBNAIL
        )
        VALUES
        (
            SEQ_QUIZ.NEXTVAL,
            ?,
            SYSDATE,
            SYSDATE,
            ?,
            ?,
            ?,
            ?
        )
	</entry>
	
	<entry key="inquiryCreateRate">
		SELECT QUIZ_NUMBER,
       	   	   QUIZ_TITLE,
               THUMBNAIL
  		  FROM QUIZ
 		 WHERE MEMBER_NUMBER = ?
 		 ORDER BY QUIZ_TITLE
	</entry>
	
	<entry key="latestBookMarkRate">
		SELECT q.QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL
          FROM BOOKMARK b
          JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
         WHERE b.MEMBER_NUMBER = ?
         ORDER BY BOOKMARK_NUMBER DESC
	</entry>
	
	<entry key="inquiryBookMarkRate">
		SELECT q.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL
  		  FROM BOOKMARK b
  		  JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
 		 WHERE b.MEMBER_NUMBER = ?
 		 ORDER BY QUIZ_TITLE
	</entry>
</properties>


