<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 검색어가 없을때 -->
	<entry key="noSearchLatestCreate">
		SELECT *
          FROM (SELECT ROWNUM AS RNO,
                       QUIZ_NUMBER,
                       QUIZ_TITLE,
                       THUMBNAIL
                  FROM QUIZ
                 WHERE MEMBER_NUMBER = ?)
         ORDER BY RNO DESC
	</entry>
	<entry key="noSearchInquiryCreate">
		SELECT QUIZ_NUMBER,
       	   	   QUIZ_TITLE,
               THUMBNAIL
  		  FROM QUIZ
 		 WHERE MEMBER_NUMBER = ?
 		 ORDER BY QUIZ_TITLE
	</entry>
	
	<entry key="noSearchLatestBookmark">
		SELECT q.QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL
          FROM BOOKMARK b
          JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
         WHERE b.MEMBER_NUMBER = ?
         ORDER BY BOOKMARK_NUMBER DESC
	</entry>
	
	<entry key="noSearchInquiryBookmark">
		SELECT q.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL
  		  FROM BOOKMARK b
  		  JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
 		 WHERE b.MEMBER_NUMBER = ?
 		 ORDER BY QUIZ_TITLE
	</entry>
	<entry key="noSearchLatestSolved">
		SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
       		   ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q ON ql.QUIZ_NUMBER = q.QUIZ_NUMBER 
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, q.QUIZ_TITLE, q.THUMBNAIL
 		 ORDER BY MAX_LOG_NO DESC
	</entry>
	<entry key="noSearchInquirySolved">
		SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
               ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q on(ql.QUIZ_NUMBER = q.QUIZ_NUMBER)
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, q.QUIZ_TITLE, q.THUMBNAIL
         ORDER BY QUIZ_TITLE
	</entry>
	
	<!-- 검색어가 있을때 -->
	<entry key="searchLatestCreateTitle">
		SELECT *
  		  FROM (SELECT ROWNUM AS RNO,
               		   QUIZ_NUMBER,
               		   QUIZ_TITLE,
               		   THUMBNAIL,
               		   QUIZ_EXPLANATION
          		  FROM QUIZ
         	     WHERE MEMBER_NUMBER = ? 
         		   AND QUIZ_TITLE LIKE ?)
        ORDER BY RNO DESC
	</entry>
	<entry key="searchInquiryCreateTitle">
		SELECT QUIZ_NUMBER,
       	   	   QUIZ_TITLE,
               THUMBNAIL
  		  FROM QUIZ
 		 WHERE MEMBER_NUMBER = ? AND QUIZ_TITLE LIKE ?
 		 ORDER BY QUIZ_TITLE
	</entry>
	<entry key="searchLatestCreateContent">
		SELECT *
	      FROM (SELECT ROWNUM AS RNO,
            		   QUIZ_NUMBER,
            		   QUIZ_TITLE,
            		   THUMBNAIL,
            		   QUIZ_EXPLANATION
       			  FROM QUIZ
      			 WHERE MEMBER_NUMBER = ? 
      			   AND QUIZ_EXPLANATION LIKE ?)
	    ORDER BY RNO DESC
	</entry>
	<entry key="searchInquiryCreateContent">
		SELECT QUIZ_NUMBER,
     	   	   QUIZ_TITLE,
               THUMBNAIL,
               QUIZ_EXPLANATION
		  FROM QUIZ
	 	 WHERE MEMBER_NUMBER = ? AND QUIZ_EXPLANATION LIKE ?
	 	 ORDER BY QUIZ_TITLE
	</entry>
	<entry key="searchLatestCreateTitleNContent">
		SELECT *
  		  FROM (SELECT ROWNUM AS RNO,
               		   QUIZ_NUMBER,
               		   QUIZ_TITLE,
               		   THUMBNAIL,
               		   QUIZ_EXPLANATION
          		  FROM QUIZ
         		 WHERE MEMBER_NUMBER = ? 
         		   AND (QUIZ_TITLE LIKE ? OR QUIZ_EXPLANATION LIKE ?))
		 ORDER BY RNO DESC
	</entry>
	<entry key="searchInquiryCreateTitleNContent">
		SELECT QUIZ_NUMBER,
       	   	   QUIZ_TITLE,
               THUMBNAIL,
               QUIZ_EXPLANATION
  		  FROM QUIZ
 		 WHERE MEMBER_NUMBER = ? AND (QUIZ_TITLE LIKE ? OR QUIZ_EXPLANATION LIKE ?)
 		 ORDER BY QUIZ_TITLE, QUIZ_EXPLANATION, QUIZ_NUMBER DESC

	</entry>
	<entry key="searchLatestBookmarkTitle">
		SELECT q.QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL
          FROM BOOKMARK b
          JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
         WHERE b.MEMBER_NUMBER = ? AND QUIZ_TITLE LIKE ?
         ORDER BY BOOKMARK_NUMBER DESC
	</entry>
	<entry key="searchInquiryBookmarkTitle">
		SELECT q.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL
  		  FROM BOOKMARK b
  		  JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
 		 WHERE b.MEMBER_NUMBER = ? AND QUIZ_TITLE LIKE ?
 		 ORDER BY QUIZ_TITLE
	</entry>
	<entry key="searchLatestBookmarkContent">
		SELECT q.QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL,
               QUIZ_EXPLANATION
          FROM BOOKMARK b
          JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
         WHERE b.MEMBER_NUMBER = ? AND QUIZ_EXPLANATION LIKE ?
         ORDER BY BOOKMARK_NUMBER DESC
	</entry>
	<entry key="searchInquiryBookmarkContent">
		SELECT q.QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL,
               QUIZ_EXPLANATION
          FROM BOOKMARK b
          JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
         WHERE b.MEMBER_NUMBER = ? AND QUIZ_EXPLANATION LIKE ?
         ORDER BY QUIZ_TITLE
	</entry>
	<entry key="searchLatestBookmarkTitleNContent">
		SELECT q.QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL,
               QUIZ_EXPLANATION
          FROM BOOKMARK b
          JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
         WHERE b.MEMBER_NUMBER = ? AND (QUIZ_TITLE LIKE ? OR QUIZ_EXPLANATION LIKE ?)
         ORDER BY BOOKMARK_NUMBER DESC
	</entry>
	<entry key="searchInquiryBookmarkTitleNContent">
		SELECT q.QUIZ_NUMBER,
               QUIZ_TITLE,
               THUMBNAIL,
               QUIZ_EXPLANATION
          FROM BOOKMARK b
          JOIN QUIZ q on(b.QUIZ_NUMBER = q.QUIZ_NUMBER)
         WHERE b.MEMBER_NUMBER = ? AND (QUIZ_TITLE LIKE ? OR QUIZ_EXPLANATION LIKE ?)
         ORDER BY QUIZ_TITLE
	</entry>
	<entry key="searchLatestSolvedTitle">
		SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
       		   ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q ON ql.QUIZ_NUMBER = q.QUIZ_NUMBER 
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL
 		 HAVING QUIZ_TITLE LIKE ?
 		 ORDER BY MAX_LOG_NO DESC
	</entry>
	<entry key="searchInquirySolvedTitle">
	    SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
               ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q on(ql.QUIZ_NUMBER = q.QUIZ_NUMBER)
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL
 		 HAVING QUIZ_TITLE LIKE ?
         ORDER BY QUIZ_TITLE
	</entry>
	<entry key="searchLatestSolvedContent">
		SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
       		   ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL,
       		   QUIZ_EXPLANATION
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q ON ql.QUIZ_NUMBER = q.QUIZ_NUMBER 
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL, QUIZ_EXPLANATION
 		 HAVING QUIZ_EXPLANATION LIKE ?
 		 ORDER BY MAX_LOG_NO DESC
	</entry>
	<entry key="searchInquirySolvedContent">
		SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
               ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL,
       		   QUIZ_EXPLANATION
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q on(ql.QUIZ_NUMBER = q.QUIZ_NUMBER)
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL, QUIZ_EXPLANATION
 		 HAVING QUIZ_EXPLANATION LIKE ?
         ORDER BY QUIZ_TITLE
	</entry>
	<entry key="searchLatestSolvedTitleNContent">
		SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
       		   ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL,
       		   QUIZ_EXPLANATION
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q ON ql.QUIZ_NUMBER = q.QUIZ_NUMBER 
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL, QUIZ_EXPLANATION
 		 HAVING QUIZ_TITLE LIKE ? OR QUIZ_EXPLANATION LIKE ?
 		 ORDER BY MAX_LOG_NO DESC
	</entry>
	<entry key="searchInquirySolvedTitleNContent">
		SELECT MAX(QUIZ_LOG_NUMBER) AS "MAX_LOG_NO",
               ql.QUIZ_NUMBER,
       		   QUIZ_TITLE,
       		   THUMBNAIL,
       		   QUIZ_EXPLANATION
  		  FROM QUIZ_LOG ql
  		  JOIN QUIZ q on(ql.QUIZ_NUMBER = q.QUIZ_NUMBER)
 		 WHERE ql.MEMBER_NUMBER = ?
 		 GROUP BY ql.QUIZ_NUMBER, QUIZ_TITLE, THUMBNAIL, QUIZ_EXPLANATION
 		 HAVING QUIZ_TITLE LIKE ? OR QUIZ_EXPLANATION LIKE ?
         ORDER BY QUIZ_TITLE
	</entry>
</properties>